*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #30728C;
  --color2: #41D9BD;
  --color3: #BF6A39;
  --color4: #592918;
  --color5: #400505;
  /* Color Pallet:  https://color.adobe.com/pt/trends/Game-design?page=1  */
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.quiz-container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px rgb(100, 100, 100, 0.1);
  width: 60rem;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem;
}

.quiz-header h2 {
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: var(--color5);
}

.quiz-header ul {
  list-style-type: none;
}

.quiz-header ul li {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.quiz-header ul li label {
  cursor: pointer;
  margin-left: 1rem;
}

.quiz-header ul li input {
  color: var(--color2);
}

.quiz-container button {
  cursor: pointer;
  background-color: var(--color1);
  color: white;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: .15rem;
  border: none;
  display: block;
  width: 100%;
  padding: 1rem 0;
}

.quiz-container button:hover {
  background-color: var(--color2);
}

.quiz-container button:active {
  color: #400505;
}


@media (max-width: 500px) {
  .quiz-container {
    width: 90%;
  }

  .quiz-header {
    padding: 1.5rem;
  }
}

h3 {
  font-size: 2rem;
  color: var(--color5);
  text-align: center;
  padding: 2rem;
}